# Practice Data Munging

## Objectives
The objective of this notebook is help you practice applying Pandas tools for data munging. Much of the machine learning workflow involves data munging and feature engineering, so the data munging skillset is invaluable.

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("rock.csv")

In [4]:
df.dtypes

Song Clean      object
ARTIST CLEAN    object
Release Year    object
COMBINED        object
First?           int64
Year?            int64
PlayCount        int64
F*G              int64
dtype: object

In [5]:
df.describe()

       First?        Year?    PlayCount          F*G
count  2230.0  2230.000000  2230.000000  2230.000000
mean      1.0     0.741256    16.872646    15.048430
std       0.0     0.438043    25.302972    25.288366
min       1.0     0.000000     0.000000     0.000000
25%       1.0     0.000000     1.000000     0.000000
50%       1.0     1.000000     4.000000     3.000000
75%       1.0     1.000000    21.000000    18.000000
max       1.0     1.000000   142.000000   142.000000

## Exercise
1. How many songs were released in 1981?
2. What are all the unique release years?

## Exercise
Write a function `clean_year` to clean the year column

## Exercise
Create a new feature
- contains_rock: True/False depending on whether or not the word "rock" is in the rock song

## Feature-Engineering for Sentiment Analysis

In [10]:
df = pd.read_csv(
    "clean_twitter_data.csv",
    nrows=50000
)

In [11]:
df.head()

   Sentiment                                      SentimentText
0          0           is so sad for my APL friend.............
1          0                   I missed the New Moon trailer...
2          1                            omg its already 7:30 :O
3          0  .. Omgaga. Im sooo  im gunna CRy. I've been at...
4          0       i think mi bf is cheating on me!!!       T_T

In [12]:
df.describe()

          Sentiment
count  50000.000000
mean       0.538400
std        0.498528
min        0.000000
25%        0.000000
50%        1.000000
75%        1.000000
max        1.000000

## Exercise
Try to add features to the above dataset, for example:

- number_of_exclamations
- percentage_of_uppercase_characters
- contains_smiley_face
- length_of_the_tweet
- contains_negative_words (you can bootstrap a list of negative words)

## Optional Exercise
Build an ML model using a subset of your features and then using all of your features and compare the difference in model performance.