# Topic 9: Databases, SQLAlchemy, MongoDB
## Objective
Build a lunch recommendation service and delivery ordering service.

## Set Up
Sign up for [Zomato API](https://developers.zomato.com/api)

Install `sqlalchemy`

In [ ]:
!conda install sqlalchemy!

Install mongodb

### Windows
- https://docs.mongodb.com/manual/installation/


### OS X / linux
Using [Homebrew ](https://brew.sh/)

- `brew tap mongodb/brew`
- `brew install mongodb-community`
- `brew services start mongodb/brew/mongodb-community`

### Pymongo
`!conda install pymongo`

In [163]:
!conda install pymongo -y

In [156]:
from pymongo import MongoClient

In [159]:
client = MongoClient()

## Explore the Zomato documentation

### Warm Up 1
Use the `cities` endpoint to find a city by name. Write a method that does this.

In [74]:
import requests

def get_city_by_name(city_name):
    url = "https://developers.zomato.com/api/v2.1/cities?q={}"
    headers = {"user-key": "7c0538fabc5a6108a754882d2b12b2a9"}
    res = requests.get(url.format(city_name), headers=headers)
    return res.json()['location_suggestions'][0]

In [75]:
get_city_by_name("New York")

{'id': 280,
 'name': 'New York City, NY',
 'country_id': 216,
 'country_name': 'United States',
 'country_flag_url': 'https://b.zmtcdn.com/images/countries/flags/country_216.png',
 'should_experiment_with': 0,
 'has_go_out_tab': 0,
 'discovery_enabled': 1,
 'has_new_ad_format': 0,
 'is_state': 0,
 'state_id': 103,
 'state_name': 'New York State',
 'state_code': 'NY'}

## Create our database

In [77]:
import sqlalchemy
sqlalchemy.__version__

'1.3.20'

In [79]:
from sqlalchemy import create_engine

In [80]:
engine = create_engine('sqlite:///zomato.db', echo = True)

Check if it exists.

In [81]:
conn = engine.connect()

2021-01-22 14:27:11,028 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-01-22 14:27:11,029 INFO sqlalchemy.engine.base.Engine ()
2021-01-22 14:27:11,032 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-01-22 14:27:11,032 INFO sqlalchemy.engine.base.Engine ()

In [83]:
conn.close()

In [84]:
# import os

In [87]:
# os.listdir()

Introspect `engine`

List the table names.

### Exercise
Get all cuisines in a given city.

In [106]:
def get_cuisines_by_city_id(city_id):
    url = "https://developers.zomato.com/api/v2.1/cuisines?city_id={}"
    headers = {"user-key": "7c0538fabc5a6108a754882d2b12b2a9"}
    res = requests.get(url.format(city_id), headers=headers)
    return res.json()['cuisines'][:20]

In [107]:
get_cuisines_by_city_id(280)

[{'cuisine': {'cuisine_id': 1035, 'cuisine_name': 'Afghan'}},
 {'cuisine': {'cuisine_id': 6, 'cuisine_name': 'Afghani'}},
 {'cuisine': {'cuisine_id': 152, 'cuisine_name': 'African'}},
 {'cuisine': {'cuisine_id': 1, 'cuisine_name': 'American'}},
 {'cuisine': {'cuisine_id': 954, 'cuisine_name': 'Amish'}},
 {'cuisine': {'cuisine_id': 151, 'cuisine_name': 'Argentine'}},
 {'cuisine': {'cuisine_id': 175, 'cuisine_name': 'Armenian'}},
 {'cuisine': {'cuisine_id': 3, 'cuisine_name': 'Asian'}},
 {'cuisine': {'cuisine_id': 131, 'cuisine_name': 'Australian'}},
 {'cuisine': {'cuisine_id': 201, 'cuisine_name': 'Austrian'}},
 {'cuisine': {'cuisine_id': 193, 'cuisine_name': 'BBQ'}},
 {'cuisine': {'cuisine_id': 955, 'cuisine_name': 'Bagels'}},
 {'cuisine': {'cuisine_id': 5, 'cuisine_name': 'Bakery'}},
 {'cuisine': {'cuisine_id': 227, 'cuisine_name': 'Bar Food'}},
 {'cuisine': {'cuisine_id': 132, 'cuisine_name': 'Belgian'}},
 {'cuisine': {'cuisine_id': 270, 'cuisine_name': 'Beverages'}},
 {'cuisine': {'cuisine_id': 159, 'cuisine_name': 'Brazilian'}},
 {'cuisine': {'cuisine_id': 182, 'cuisine_name': 'Breakfast'}},
 {'cuisine': {'cuisine_id': 133, 'cuisine_name': 'British'}},
 {'cuisine': {'cuisine_id': 247, 'cuisine_name': 'Bubble Tea'}}]

## Defining a model
Let's define the city model.

In [91]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, ForeignKey, Boolean, DateTime


Base = declarative_base()

In [119]:
class City(Base):
    __tablename__ = 'cities'

    city_id = Column(Integer, primary_key=True)
    zomato_id = Column(Integer)
    name = Column(String(100))
    date_created = Column(DateTime, default=datetime.datetime.now)
    
    def __repr__(self):
        return "{}: {}".format(self.zomato_id, self.name)

Check the tables.

In [96]:
engine.table_names()

2021-01-22 14:41:11,859 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-01-22 14:41:11,861 INFO sqlalchemy.engine.base.Engine ()

[]

What s going on?

In [98]:
Base.metadata.create_all(engine)

2021-01-22 14:46:44,468 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("cities")
2021-01-22 14:46:44,471 INFO sqlalchemy.engine.base.Engine ()
2021-01-22 14:46:44,474 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("cities")
2021-01-22 14:46:44,476 INFO sqlalchemy.engine.base.Engine ()
2021-01-22 14:46:44,490 INFO sqlalchemy.engine.base.Engine
CREATE TABLE cities (
	city_id INTEGER NOT NULL,
	zomato_id INTEGER,
	name VARCHAR(100),
	date_created DATETIME,
	PRIMARY KEY (city_id)
)


2021-01-22 14:46:44,491 INFO sqlalchemy.engine.base.Engine ()
2021-01-22 14:46:44,502 INFO sqlalchemy.engine.base.Engine COMMIT

### Exercise
Define the cuisine model based on the data available and create it.

- zomato_id
- city_id
- name

In [121]:
class Cuisine(Base):
    __tablename__ = 'cuisines'

    cuisine_id = Column(Integer, primary_key=True)
    zomato_id = Column(Integer)
    name = Column(String(100))
    date_created = Column(DateTime, default=datetime.datetime.now)
    
    def __repr__(self):
        return "{}: {}".format(self.zomato_id, self.name)

In [135]:
Base.metadata.create_all(engine)

2021-01-22 15:17:15,421 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("cities")
2021-01-22 15:17:15,494 INFO sqlalchemy.engine.base.Engine ()
2021-01-22 15:17:15,496 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("cuisines")
2021-01-22 15:17:15,497 INFO sqlalchemy.engine.base.Engine ()
2021-01-22 15:17:15,499 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("cuisines")
2021-01-22 15:17:15,500 INFO sqlalchemy.engine.base.Engine ()
2021-01-22 15:17:15,503 INFO sqlalchemy.engine.base.Engine
CREATE TABLE cuisines (
	cuisine_id INTEGER NOT NULL,
	zomato_id INTEGER,
	name VARCHAR(100),
	date_created DATETIME,
	PRIMARY KEY (cuisine_id)
)


2021-01-22 15:17:15,503 INFO sqlalchemy.engine.base.Engine ()
2021-01-22 15:17:15,506 INFO sqlalchemy.engine.base.Engine COMMIT

## Creating instances and saving

In [108]:
from sqlalchemy.orm import sessionmaker

In [109]:
Session = sessionmaker(bind=engine)

In [112]:
session = Session()

In [110]:
new_city = City(name='Some city', zomato_id=99923)

In [113]:
session.add(new_city)

In [116]:
our_city = session.query(City).first()

2021-01-22 14:57:13,818 INFO sqlalchemy.engine.base.Engine SELECT cities.city_id AS cities_city_id, cities.zomato_id AS cities_zomato_id, cities.name AS cities_name, cities.date_created AS cities_date_created
FROM cities
 LIMIT ? OFFSET ?
2021-01-22 14:57:13,819 INFO sqlalchemy.engine.base.Engine (1, 0)

In [117]:
our_city

In [120]:
our_city.name

'Some city'

### Exercise
Create a script to populate the Cuisine records in the database for Boston, New York and Los Angeles.

In [136]:
city_names = ['Boston', 'New York', 'Los Angeles']
for city in city_names:
    city_id = get_city_by_name(city)['id']
    cuisines = get_cuisines_by_city_id(city_id)
    for cuisine in cuisines:
        cuiz = Cuisine(name=cuisine["cuisine"]["cuisine_name"], zomato_id=cuisine["cuisine"]["cuisine_id"])
        session.add(cuiz)

In [128]:
session.rollback()

In [137]:
all_cuis = session.query(Cuisine).all()

2021-01-22 15:17:25,849 INFO sqlalchemy.engine.base.Engine INSERT INTO cuisines (zomato_id, name, date_created) VALUES (?, ?, ?)
2021-01-22 15:17:25,856 INFO sqlalchemy.engine.base.Engine (1035, 'Afghan', '2021-01-22 15:17:25.849251')
2021-01-22 15:17:25,885 INFO sqlalchemy.engine.base.Engine INSERT INTO cuisines (zomato_id, name, date_created) VALUES (?, ?, ?)
2021-01-22 15:17:25,889 INFO sqlalchemy.engine.base.Engine (152, 'African', '2021-01-22 15:17:25.885774')
2021-01-22 15:17:25,890 INFO sqlalchemy.engine.base.Engine INSERT INTO cuisines (zomato_id, name, date_created) VALUES (?, ?, ?)
2021-01-22 15:17:25,891 INFO sqlalchemy.engine.base.Engine (1, 'American', '2021-01-22 15:17:25.890559')
2021-01-22 15:17:25,892 INFO sqlalchemy.engine.base.Engine INSERT INTO cuisines (zomato_id, name, date_created) VALUES (?, ?, ?)
2021-01-22 15:17:25,896 INFO sqlalchemy.engine.base.Engine (151, 'Argentine', '2021-01-22 15:17:25.892495')
2021-01-22 15:17:25,897 INFO sqlalchemy.engine.base.Engine INSERT INTO cuisines (zomato_id, name, date_created) VALUES (?, ?, ?)
2021-01-22 15:17:25,898 INFO sqlalchemy.engine.base.Engine (175, 'Armenian', '2021-01-22 15:17:25.897467')
2021-01-22 15:17:25,899 INFO sqlalchemy.engine.base.Engine INSERT INTO cuisines (zomato_id, name, date_created) VALUES (?, ?, ?)
2021-01-22 15:17:25,900 INFO sqlalchemy.engine.base.Engine (3, 'Asian', '2021-01-22 15:17:25.899414')
2021-01-22 15:17:25,901 INFO sqlalchemy.engine.base.Engine INSERT INTO cuisines (zomato_id, name, date_created) VALUES (?, ?, ?)
2021-01-22 15:17:25,902 INFO sqlalchemy.engine.base.Engine (131, 'Australian', '2021-01-22 15:17:25.901709')
2021-01-22 15:17:25,904 INFO sqlalchemy.engine.base.Engine INSERT INTO cuisines (zomato_id, name, date_created) VALUES (?, ?, ?)
2021-01-22 15:17:25,905 INFO sqlalchemy.engine.base.Engine (193, 'BBQ', '2021-01-22 15:17:25.904206')
2021-01-22 15:17:25,906 INFO sqlalchemy.engine.base.Engine INSERT INTO cuisines (zomato_id, name, date_created) VALUES (?, ?, ?)
2021-01-22 15:17:25,907 INFO sqlalchemy.engine.base.Engine (955, 'Bagels', '2021-01-22 15:17:25.906608')
2021-01-22 15:17:25,908 INFO sqlalchemy.engine.base.Engine INSERT INTO cuisines (zomato_id, name, date_created) VALUES (?, ?, ?)
2021-01-22 15:17:25,911 INFO sqlalchemy.engine.base.Engine (5, 'Bakery', '2021-01-22 15:17:25.908649')
2021-01-22 15:17:25,912 INFO sqlalchemy.engine.base.Engine INSERT INTO cuisines (zomato_id, name, date_created) VALUES (?, ?, ?)
2021-01-22 15:17:25,913 INFO sqlalchemy.engine.base.Engine (227, 'Bar Food', '2021-01-22 15:17:25.912358')
2021-01-22 15:17:25,915 INFO sqlalchemy.engine.base.Engine INSERT INTO cuisines (zomato_id, name, date_created) VALUES (?, ?, ?)
2021-01-22 15:17:25,916 INFO sqlalchemy.engine.base.Engine (270, 'Beverages', '2021-01-22 15:17:25.915400')
2021-01-22 15:17:25,918 INFO sqlalchemy.engine.base.Engine INSERT INTO cuisines (zomato_id, name, date_created) VALUES (?, ?, ?)
2021-01-22 15:17:25,918 INFO sqlalchemy.engine.base.Engine (159, 'Brazilian', '2021-01-22 15:17:25.918113')
2021-01-22 15:17:25,920 INFO sqlalchemy.engine.base.Engine INSERT INTO cuisines (zomato_id, name, date_created) VALUES (?, ?, ?)
2021-01-22 15:17:25,920 INFO sqlalchemy.engine.base.Engine (182, 'Breakfast', '2021-01-22 15:17:25.920050')
2021-01-22 15:17:25,921 INFO sqlalchemy.engine.base.Engine INSERT INTO cuisines (zomato_id, name, date_created) VALUES (?, ?, ?)
2021-01-22 15:17:25,922 INFO sqlalchemy.engine.base.Engine (133, 'British', '2021-01-22 15:17:25.921637')
2021-01-22 15:17:25,923 INFO sqlalchemy.engine.base.Engine INSERT INTO cuisines (zomato_id, name, date_created) VALUES (?, ?, ?)
2021-01-22 15:17:25,924 INFO sqlalchemy.engine.base.Engine (247, 'Bubble Tea', '2021-01-22 15:17:25.923544')
2021-01-22 15:17:25,925 INFO sqlalchemy.engine.base.Engine INSERT INTO cuisines (zomato_id, name, date_created) VALUES (?, ?, ?)
2021-01-22 15:17:25,925 INFO sqlalchemy.engine.base.Engine (168, 'Burger', '2021-01-22 15:17:25.925036')
2021-01-22 15:17:25,926 INFO sqlalchemy.engine.base.Engine INSERT INTO cuisines (zomato_id, name, date_created) VALUES (?, ?, ?)
2021-01-22 15:17:25,927 INFO sqlalchemy.engine.base.Engine (22, 'Burmese', '2021-01-22 15:17:25.926721')
2021-01-22 15:17:25,928 INFO sqlalchemy.engine.base.Engine INSERT INTO cuisines (zomato_id, name, date_created) VALUES (?, ?, ?)
2021-01-22 15:17:25,929 INFO sqlalchemy.engine.base.Engine (30, 'Cafe', '2021-01-22 15:17:25.928748')
2021-01-22 15:17:25,930 INFO sqlalchemy.engine.base.Engine INSERT INTO cuisines (zomato_id, name, date_created) VALUES (?, ?, ?)
2021-01-22 15:17:25,931 INFO sqlalchemy.engine.base.Engine (491, 'Cajun', '2021-01-22 15:17:25.930383')
2021-01-22 15:17:25,932 INFO sqlalchemy.engine.base.Engine INSERT INTO cuisines (zomato_id, name, date_created) VALUES (?, ?, ?)
2021-01-22 15:17:25,933 INFO sqlalchemy.engine.base.Engine (1035, 'Afghan', '2021-01-22 15:17:25.932473')
2021-01-22 15:17:25,935 INFO sqlalchemy.engine.base.Engine INSERT INTO cuisines (zomato_id, name, date_created) VALUES (?, ?, ?)
2021-01-22 15:17:25,936 INFO sqlalchemy.engine.base.Engine (6, 'Afghani', '2021-01-22 15:17:25.935315')
2021-01-22 15:17:25,936 INFO sqlalchemy.engine.base.Engine INSERT INTO cuisines (zomato_id, name, date_created) VALUES (?, ?, ?)
2021-01-22 15:17:25,937 INFO sqlalchemy.engine.base.Engine (152, 'African', '2021-01-22 15:17:25.936932')
2021-01-22 15:17:25,938 INFO sqlalchemy.engine.base.Engine INSERT INTO cuisines (zomato_id, name, date_created) VALUES (?, ?, ?)
2021-01-22 15:17:25,939 INFO sqlalchemy.engine.base.Engine (1, 'American', '2021-01-22 15:17:25.938281')
2021-01-22 15:17:25,940 INFO sqlalchemy.engine.base.Engine INSERT INTO cuisines (zomato_id, name, date_created) VALUES (?, ?, ?)
2021-01-22 15:17:25,941 INFO sqlalchemy.engine.base.Engine (954, 'Amish', '2021-01-22 15:17:25.939984')
2021-01-22 15:17:25,943 INFO sqlalchemy.engine.base.Engine INSERT INTO cuisines (zomato_id, name, date_created) VALUES (?, ?, ?)
2021-01-22 15:17:25,944 INFO sqlalchemy.engine.base.Engine (151, 'Argentine', '2021-01-22 15:17:25.942702')
2021-01-22 15:17:25,945 INFO sqlalchemy.engine.base.Engine INSERT INTO cuisines (zomato_id, name, date_created) VALUES (?, ?, ?)
2021-01-22 15:17:25,945 INFO sqlalchemy.engine.base.Engine (175, 'Armenian', '2021-01-22 15:17:25.945224')
2021-01-22 15:17:25,946 INFO sqlalchemy.engine.base.Engine INSERT INTO cuisines (zomato_id, name, date_created) VALUES (?, ?, ?)
2021-01-22 15:17:25,947 INFO sqlalchemy.engine.base.Engine (3, 'Asian', '2021-01-22 15:17:25.946740')
2021-01-22 15:17:25,948 INFO sqlalchemy.engine.base.Engine INSERT INTO cuisines (zomato_id, name, date_created) VALUES (?, ?, ?)
2021-01-22 15:17:25,949 INFO sqlalchemy.engine.base.Engine (131, 'Australian', '2021-01-22 15:17:25.948495')
2021-01-22 15:17:25,950 INFO sqlalchemy.engine.base.Engine INSERT INTO cuisines (zomato_id, name, date_created) VALUES (?, ?, ?)
2021-01-22 15:17:25,951 INFO sqlalchemy.engine.base.Engine (201, 'Austrian', '2021-01-22 15:17:25.950381')
2021-01-22 15:17:25,952 INFO sqlalchemy.engine.base.Engine INSERT INTO cuisines (zomato_id, name, date_created) VALUES (?, ?, ?)
2021-01-22 15:17:25,953 INFO sqlalchemy.engine.base.Engine (193, 'BBQ', '2021-01-22 15:17:25.952470')
2021-01-22 15:17:25,954 INFO sqlalchemy.engine.base.Engine INSERT INTO cuisines (zomato_id, name, date_created) VALUES (?, ?, ?)
2021-01-22 15:17:25,955 INFO sqlalchemy.engine.base.Engine (955, 'Bagels', '2021-01-22 15:17:25.954527')
2021-01-22 15:17:25,957 INFO sqlalchemy.engine.base.Engine INSERT INTO cuisines (zomato_id, name, date_created) VALUES (?, ?, ?)
2021-01-22 15:17:25,957 INFO sqlalchemy.engine.base.Engine (5, 'Bakery', '2021-01-22 15:17:25.957014')
2021-01-22 15:17:25,958 INFO sqlalchemy.engine.base.Engine INSERT INTO cuisines (zomato_id, name, date_created) VALUES (?, ?, ?)
2021-01-22 15:17:25,959 INFO sqlalchemy.engine.base.Engine (227, 'Bar Food', '2021-01-22 15:17:25.958859')
2021-01-22 15:17:25,961 INFO sqlalchemy.engine.base.Engine INSERT INTO cuisines (zomato_id, name, date_created) VALUES (?, ?, ?)
2021-01-22 15:17:25,961 INFO sqlalchemy.engine.base.Engine (132, 'Belgian', '2021-01-22 15:17:25.961120')

2021-01-22 15:17:25,962 INFO sqlalchemy.engine.base.Engine INSERT INTO cuisines (zomato_id, name, date_created) VALUES (?, ?, ?)
2021-01-22 15:17:25,963 INFO sqlalchemy.engine.base.Engine (270, 'Beverages', '2021-01-22 15:17:25.962751')
2021-01-22 15:17:25,964 INFO sqlalchemy.engine.base.Engine INSERT INTO cuisines (zomato_id, name, date_created) VALUES (?, ?, ?)
2021-01-22 15:17:25,965 INFO sqlalchemy.engine.base.Engine (159, 'Brazilian', '2021-01-22 15:17:25.964503')
2021-01-22 15:17:25,966 INFO sqlalchemy.engine.base.Engine INSERT INTO cuisines (zomato_id, name, date_created) VALUES (?, ?, ?)
2021-01-22 15:17:25,967 INFO sqlalchemy.engine.base.Engine (182, 'Breakfast', '2021-01-22 15:17:25.966280')
2021-01-22 15:17:25,968 INFO sqlalchemy.engine.base.Engine INSERT INTO cuisines (zomato_id, name, date_created) VALUES (?, ?, ?)
2021-01-22 15:17:25,969 INFO sqlalchemy.engine.base.Engine (133, 'British', '2021-01-22 15:17:25.968380')
2021-01-22 15:17:25,970 INFO sqlalchemy.engine.base.Engine INSERT INTO cuisines (zomato_id, name, date_created) VALUES (?, ?, ?)
2021-01-22 15:17:25,972 INFO sqlalchemy.engine.base.Engine (247, 'Bubble Tea', '2021-01-22 15:17:25.970366')
2021-01-22 15:17:25,973 INFO sqlalchemy.engine.base.Engine INSERT INTO cuisines (zomato_id, name, date_created) VALUES (?, ?, ?)
2021-01-22 15:17:25,975 INFO sqlalchemy.engine.base.Engine (1035, 'Afghan', '2021-01-22 15:17:25.973755')
2021-01-22 15:17:25,976 INFO sqlalchemy.engine.base.Engine INSERT INTO cuisines (zomato_id, name, date_created) VALUES (?, ?, ?)
2021-01-22 15:17:25,977 INFO sqlalchemy.engine.base.Engine (152, 'African', '2021-01-22 15:17:25.976795')
2021-01-22 15:17:25,979 INFO sqlalchemy.engine.base.Engine INSERT INTO cuisines (zomato_id, name, date_created) VALUES (?, ?, ?)
2021-01-22 15:17:25,979 INFO sqlalchemy.engine.base.Engine (1, 'American', '2021-01-22 15:17:25.979022')
2021-01-22 15:17:25,981 INFO sqlalchemy.engine.base.Engine INSERT INTO cuisines (zomato_id, name, date_created) VALUES (?, ?, ?)
2021-01-22 15:17:25,982 INFO sqlalchemy.engine.base.Engine (151, 'Argentine', '2021-01-22 15:17:25.981343')
2021-01-22 15:17:25,984 INFO sqlalchemy.engine.base.Engine INSERT INTO cuisines (zomato_id, name, date_created) VALUES (?, ?, ?)
2021-01-22 15:17:25,985 INFO sqlalchemy.engine.base.Engine (175, 'Armenian', '2021-01-22 15:17:25.984019')
2021-01-22 15:17:25,986 INFO sqlalchemy.engine.base.Engine INSERT INTO cuisines (zomato_id, name, date_created) VALUES (?, ?, ?)
2021-01-22 15:17:25,987 INFO sqlalchemy.engine.base.Engine (3, 'Asian', '2021-01-22 15:17:25.986493')
2021-01-22 15:17:25,988 INFO sqlalchemy.engine.base.Engine INSERT INTO cuisines (zomato_id, name, date_created) VALUES (?, ?, ?)
2021-01-22 15:17:25,988 INFO sqlalchemy.engine.base.Engine (131, 'Australian', '2021-01-22 15:17:25.988250')
2021-01-22 15:17:25,990 INFO sqlalchemy.engine.base.Engine INSERT INTO cuisines (zomato_id, name, date_created) VALUES (?, ?, ?)
2021-01-22 15:17:25,991 INFO sqlalchemy.engine.base.Engine (201, 'Austrian', '2021-01-22 15:17:25.990372')
2021-01-22 15:17:25,992 INFO sqlalchemy.engine.base.Engine INSERT INTO cuisines (zomato_id, name, date_created) VALUES (?, ?, ?)
2021-01-22 15:17:25,994 INFO sqlalchemy.engine.base.Engine (193, 'BBQ', '2021-01-22 15:17:25.992023')
2021-01-22 15:17:25,996 INFO sqlalchemy.engine.base.Engine INSERT INTO cuisines (zomato_id, name, date_created) VALUES (?, ?, ?)
2021-01-22 15:17:26,000 INFO sqlalchemy.engine.base.Engine (955, 'Bagels', '2021-01-22 15:17:25.995864')
2021-01-22 15:17:26,001 INFO sqlalchemy.engine.base.Engine INSERT INTO cuisines (zomato_id, name, date_created) VALUES (?, ?, ?)
2021-01-22 15:17:26,002 INFO sqlalchemy.engine.base.Engine (5, 'Bakery', '2021-01-22 15:17:26.001799')
2021-01-22 15:17:26,003 INFO sqlalchemy.engine.base.Engine INSERT INTO cuisines (zomato_id, name, date_created) VALUES (?, ?, ?)
2021-01-22 15:17:26,004 INFO sqlalchemy.engine.base.Engine (227, 'Bar Food', '2021-01-22 15:17:26.003476')
2021-01-22 15:17:26,005 INFO sqlalchemy.engine.base.Engine INSERT INTO cuisines (zomato_id, name, date_created) VALUES (?, ?, ?)
2021-01-22 15:17:26,006 INFO sqlalchemy.engine.base.Engine (132, 'Belgian', '2021-01-22 15:17:26.005328')
2021-01-22 15:17:26,047 INFO sqlalchemy.engine.base.Engine INSERT INTO cuisines (zomato_id, name, date_created) VALUES (?, ?, ?)
2021-01-22 15:17:26,059 INFO sqlalchemy.engine.base.Engine (270, 'Beverages', '2021-01-22 15:17:26.047796')
2021-01-22 15:17:26,071 INFO sqlalchemy.engine.base.Engine INSERT INTO cuisines (zomato_id, name, date_created) VALUES (?, ?, ?)
2021-01-22 15:17:26,074 INFO sqlalchemy.engine.base.Engine (159, 'Brazilian', '2021-01-22 15:17:26.071240')
2021-01-22 15:17:26,075 INFO sqlalchemy.engine.base.Engine INSERT INTO cuisines (zomato_id, name, date_created) VALUES (?, ?, ?)
2021-01-22 15:17:26,076 INFO sqlalchemy.engine.base.Engine (182, 'Breakfast', '2021-01-22 15:17:26.075948')
2021-01-22 15:17:26,077 INFO sqlalchemy.engine.base.Engine INSERT INTO cuisines (zomato_id, name, date_created) VALUES (?, ?, ?)
2021-01-22 15:17:26,078 INFO sqlalchemy.engine.base.Engine (133, 'British', '2021-01-22 15:17:26.077867')
2021-01-22 15:17:26,081 INFO sqlalchemy.engine.base.Engine INSERT INTO cuisines (zomato_id, name, date_created) VALUES (?, ?, ?)
2021-01-22 15:17:26,082 INFO sqlalchemy.engine.base.Engine (247, 'Bubble Tea', '2021-01-22 15:17:26.081391')
2021-01-22 15:17:26,084 INFO sqlalchemy.engine.base.Engine INSERT INTO cuisines (zomato_id, name, date_created) VALUES (?, ?, ?)
2021-01-22 15:17:26,086 INFO sqlalchemy.engine.base.Engine (168, 'Burger', '2021-01-22 15:17:26.084697')
2021-01-22 15:17:26,092 INFO sqlalchemy.engine.base.Engine INSERT INTO cuisines (zomato_id, name, date_created) VALUES (?, ?, ?)
2021-01-22 15:17:26,093 INFO sqlalchemy.engine.base.Engine (30, 'Cafe', '2021-01-22 15:17:26.091163')
2021-01-22 15:17:26,102 INFO sqlalchemy.engine.base.Engine SELECT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines
2021-01-22 15:17:26,110 INFO sqlalchemy.engine.base.Engine ()

In [139]:
for city in all_cuis[:5]:
    print(city.name)

Afghan
African
American
Argentine
Armenian

## Querying / Filtering

Let's get order cuisines alphabetically.

In [147]:
for c in session.query(Cuisine).order_by(Cuisine.name)[:10]:
    print(c)

2021-01-22 15:57:19,120 INFO sqlalchemy.engine.base.Engine SELECT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines ORDER BY cuisines.name
 LIMIT ? OFFSET ?
2021-01-22 15:57:19,121 INFO sqlalchemy.engine.base.Engine (10, 0)
1035: Afghan
1035: Afghan
1035: Afghan
6: Afghani
152: African
152: African
152: African
1: American
1: American
1: American

Let's get all the distict names.

In [169]:
distinct_names = []
for c in session.query(Cuisine).distinct(Cuisine.name):
    distinct_names.append(c.name)

2021-01-22 16:10:27,063 INFO sqlalchemy.engine.base.Engine SELECT DISTINCT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines
2021-01-22 16:10:27,065 INFO sqlalchemy.engine.base.Engine ()

['Afghan',
 'African',
 'American',
 'Argentine',
 'Armenian',
 'Asian',
 'Australian',
 'BBQ',
 'Bagels',
 'Bakery']

Let's dedupe.

For each name, get all the records that match the name, pick one to be the survivor and delete the others.

2021-01-22 16:13:17,533 INFO sqlalchemy.engine.base.Engine SELECT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines
WHERE cuisines.name = ?
2021-01-22 16:13:17,549 INFO sqlalchemy.engine.base.Engine ('Afghan',)

[1035: Afghan, 1035: Afghan, 1035: Afghan]

In [173]:
for name in distinct_names:
    records = list(session.query(Cuisine).filter(Cuisine.name == name))
    survivor = records[0]
    dupes = records[1:]
    for dupe in dupes:
        session.delete(dupe)

2021-01-22 16:15:23,858 INFO sqlalchemy.engine.base.Engine SELECT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines
WHERE cuisines.name = ?
2021-01-22 16:15:23,859 INFO sqlalchemy.engine.base.Engine ('Afghan',)
2021-01-22 16:15:23,865 INFO sqlalchemy.engine.base.Engine DELETE FROM cuisines WHERE cuisines.cuisine_id = ?
2021-01-22 16:15:23,867 INFO sqlalchemy.engine.base.Engine ((21,), (41,))
2021-01-22 16:15:23,897 INFO sqlalchemy.engine.base.Engine SELECT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines
WHERE cuisines.name = ?
2021-01-22 16:15:23,914 INFO sqlalchemy.engine.base.Engine ('African',)
2021-01-22 16:15:23,918 INFO sqlalchemy.engine.base.Engine DELETE FROM cuisines WHERE cuisines.cuisine_id = ?
2021-01-22 16:15:23,919 INFO sqlalchemy.engine.base.Engine ((23,), (42,))
2021-01-22 16:15:23,920 INFO sqlalchemy.engine.base.Engine SELECT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines
WHERE cuisines.name = ?
2021-01-22 16:15:23,922 INFO sqlalchemy.engine.base.Engine ('American',)
2021-01-22 16:15:23,926 INFO sqlalchemy.engine.base.Engine DELETE FROM cuisines WHERE cuisines.cuisine_id = ?
2021-01-22 16:15:23,927 INFO sqlalchemy.engine.base.Engine ((24,), (43,))
2021-01-22 16:15:23,929 INFO sqlalchemy.engine.base.Engine SELECT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines
WHERE cuisines.name = ?
2021-01-22 16:15:23,930 INFO sqlalchemy.engine.base.Engine ('Argentine',)
2021-01-22 16:15:23,933 INFO sqlalchemy.engine.base.Engine DELETE FROM cuisines WHERE cuisines.cuisine_id = ?
2021-01-22 16:15:23,939 INFO sqlalchemy.engine.base.Engine ((26,), (44,))
2021-01-22 16:15:23,951 INFO sqlalchemy.engine.base.Engine SELECT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines
WHERE cuisines.name = ?
2021-01-22 16:15:23,958 INFO sqlalchemy.engine.base.Engine ('Armenian',)
2021-01-22 16:15:23,960 INFO sqlalchemy.engine.base.Engine DELETE FROM cuisines WHERE cuisines.cuisine_id = ?
2021-01-22 16:15:23,962 INFO sqlalchemy.engine.base.Engine ((27,), (45,))
2021-01-22 16:15:23,973 INFO sqlalchemy.engine.base.Engine SELECT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines
WHERE cuisines.name = ?
2021-01-22 16:15:23,974 INFO sqlalchemy.engine.base.Engine ('Asian',)
2021-01-22 16:15:23,976 INFO sqlalchemy.engine.base.Engine DELETE FROM cuisines WHERE cuisines.cuisine_id = ?
2021-01-22 16:15:23,984 INFO sqlalchemy.engine.base.Engine ((28,), (46,))
2021-01-22 16:15:23,986 INFO sqlalchemy.engine.base.Engine SELECT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines
WHERE cuisines.name = ?
2021-01-22 16:15:23,987 INFO sqlalchemy.engine.base.Engine ('Australian',)
2021-01-22 16:15:23,997 INFO sqlalchemy.engine.base.Engine DELETE FROM cuisines WHERE cuisines.cuisine_id = ?
2021-01-22 16:15:24,000 INFO sqlalchemy.engine.base.Engine ((29,), (47,))
2021-01-22 16:15:24,004 INFO sqlalchemy.engine.base.Engine SELECT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines
WHERE cuisines.name = ?
2021-01-22 16:15:24,005 INFO sqlalchemy.engine.base.Engine ('BBQ',)
2021-01-22 16:15:24,008 INFO sqlalchemy.engine.base.Engine DELETE FROM cuisines WHERE cuisines.cuisine_id = ?
2021-01-22 16:15:24,009 INFO sqlalchemy.engine.base.Engine ((31,), (49,))
2021-01-22 16:15:24,010 INFO sqlalchemy.engine.base.Engine SELECT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines
WHERE cuisines.name = ?
2021-01-22 16:15:24,012 INFO sqlalchemy.engine.base.Engine ('Bagels',)
2021-01-22 16:15:24,013 INFO sqlalchemy.engine.base.Engine DELETE FROM cuisines WHERE cuisines.cuisine_id = ?
2021-01-22 16:15:24,014 INFO sqlalchemy.engine.base.Engine ((32,), (50,))
2021-01-22 16:15:24,016 INFO sqlalchemy.engine.base.Engine SELECT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines
WHERE cuisines.name = ?
2021-01-22 16:15:24,017 INFO sqlalchemy.engine.base.Engine ('Bakery',)
2021-01-22 16:15:24,019 INFO sqlalchemy.engine.base.Engine DELETE FROM cuisines WHERE cuisines.cuisine_id = ?
2021-01-22 16:15:24,020 INFO sqlalchemy.engine.base.Engine ((33,), (51,))
2021-01-22 16:15:24,022 INFO sqlalchemy.engine.base.Engine SELECT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines
WHERE cuisines.name = ?
2021-01-22 16:15:24,022 INFO sqlalchemy.engine.base.Engine ('Bar Food',)
2021-01-22 16:15:24,025 INFO sqlalchemy.engine.base.Engine DELETE FROM cuisines WHERE cuisines.cuisine_id = ?
2021-01-22 16:15:24,026 INFO sqlalchemy.engine.base.Engine ((34,), (52,))
2021-01-22 16:15:24,027 INFO sqlalchemy.engine.base.Engine SELECT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines
WHERE cuisines.name = ?
2021-01-22 16:15:24,028 INFO sqlalchemy.engine.base.Engine ('Beverages',)
2021-01-22 16:15:24,030 INFO sqlalchemy.engine.base.Engine DELETE FROM cuisines WHERE cuisines.cuisine_id = ?
2021-01-22 16:15:24,031 INFO sqlalchemy.engine.base.Engine ((36,), (54,))
2021-01-22 16:15:24,032 INFO sqlalchemy.engine.base.Engine SELECT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines
WHERE cuisines.name = ?
2021-01-22 16:15:24,033 INFO sqlalchemy.engine.base.Engine ('Brazilian',)
2021-01-22 16:15:24,035 INFO sqlalchemy.engine.base.Engine DELETE FROM cuisines WHERE cuisines.cuisine_id = ?
2021-01-22 16:15:24,036 INFO sqlalchemy.engine.base.Engine ((37,), (55,))
2021-01-22 16:15:24,037 INFO sqlalchemy.engine.base.Engine SELECT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines
WHERE cuisines.name = ?
2021-01-22 16:15:24,041 INFO sqlalchemy.engine.base.Engine ('Breakfast',)
2021-01-22 16:15:24,044 INFO sqlalchemy.engine.base.Engine DELETE FROM cuisines WHERE cuisines.cuisine_id = ?
2021-01-22 16:15:24,046 INFO sqlalchemy.engine.base.Engine ((38,), (56,))
2021-01-22 16:15:24,048 INFO sqlalchemy.engine.base.Engine SELECT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines
WHERE cuisines.name = ?
2021-01-22 16:15:24,049 INFO sqlalchemy.engine.base.Engine ('British',)
2021-01-22 16:15:24,051 INFO sqlalchemy.engine.base.Engine DELETE FROM cuisines WHERE cuisines.cuisine_id = ?
2021-01-22 16:15:24,051 INFO sqlalchemy.engine.base.Engine ((39,), (57,))
2021-01-22 16:15:24,053 INFO sqlalchemy.engine.base.Engine SELECT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines
WHERE cuisines.name = ?
2021-01-22 16:15:24,053 INFO sqlalchemy.engine.base.Engine ('Bubble Tea',)

2021-01-22 16:15:24,055 INFO sqlalchemy.engine.base.Engine DELETE FROM cuisines WHERE cuisines.cuisine_id = ?
2021-01-22 16:15:24,056 INFO sqlalchemy.engine.base.Engine ((40,), (58,))
2021-01-22 16:15:24,058 INFO sqlalchemy.engine.base.Engine SELECT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines
WHERE cuisines.name = ?
2021-01-22 16:15:24,059 INFO sqlalchemy.engine.base.Engine ('Burger',)
2021-01-22 16:15:24,061 INFO sqlalchemy.engine.base.Engine DELETE FROM cuisines WHERE cuisines.cuisine_id = ?
2021-01-22 16:15:24,062 INFO sqlalchemy.engine.base.Engine (59,)
2021-01-22 16:15:24,064 INFO sqlalchemy.engine.base.Engine SELECT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines
WHERE cuisines.name = ?
2021-01-22 16:15:24,065 INFO sqlalchemy.engine.base.Engine ('Burmese',)
2021-01-22 16:15:24,067 INFO sqlalchemy.engine.base.Engine SELECT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines
WHERE cuisines.name = ?
2021-01-22 16:15:24,068 INFO sqlalchemy.engine.base.Engine ('Cafe',)
2021-01-22 16:15:24,070 INFO sqlalchemy.engine.base.Engine DELETE FROM cuisines WHERE cuisines.cuisine_id = ?
2021-01-22 16:15:24,070 INFO sqlalchemy.engine.base.Engine (60,)
2021-01-22 16:15:24,072 INFO sqlalchemy.engine.base.Engine SELECT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines
WHERE cuisines.name = ?
2021-01-22 16:15:24,072 INFO sqlalchemy.engine.base.Engine ('Cajun',)
2021-01-22 16:15:24,074 INFO sqlalchemy.engine.base.Engine SELECT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines
WHERE cuisines.name = ?
2021-01-22 16:15:24,075 INFO sqlalchemy.engine.base.Engine ('Afghan',)
2021-01-22 16:15:24,077 INFO sqlalchemy.engine.base.Engine SELECT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines
WHERE cuisines.name = ?
2021-01-22 16:15:24,078 INFO sqlalchemy.engine.base.Engine ('Afghani',)
2021-01-22 16:15:24,080 INFO sqlalchemy.engine.base.Engine SELECT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines
WHERE cuisines.name = ?
2021-01-22 16:15:24,080 INFO sqlalchemy.engine.base.Engine ('African',)
2021-01-22 16:15:24,082 INFO sqlalchemy.engine.base.Engine SELECT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines
WHERE cuisines.name = ?
2021-01-22 16:15:24,083 INFO sqlalchemy.engine.base.Engine ('American',)
2021-01-22 16:15:24,086 INFO sqlalchemy.engine.base.Engine SELECT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines
WHERE cuisines.name = ?
2021-01-22 16:15:24,086 INFO sqlalchemy.engine.base.Engine ('Amish',)
2021-01-22 16:15:24,088 INFO sqlalchemy.engine.base.Engine SELECT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines
WHERE cuisines.name = ?
2021-01-22 16:15:24,089 INFO sqlalchemy.engine.base.Engine ('Argentine',)
2021-01-22 16:15:24,092 INFO sqlalchemy.engine.base.Engine SELECT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines
WHERE cuisines.name = ?
2021-01-22 16:15:24,093 INFO sqlalchemy.engine.base.Engine ('Armenian',)
2021-01-22 16:15:24,096 INFO sqlalchemy.engine.base.Engine SELECT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines
WHERE cuisines.name = ?
2021-01-22 16:15:24,098 INFO sqlalchemy.engine.base.Engine ('Asian',)
2021-01-22 16:15:24,101 INFO sqlalchemy.engine.base.Engine SELECT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines
WHERE cuisines.name = ?
2021-01-22 16:15:24,101 INFO sqlalchemy.engine.base.Engine ('Australian',)
2021-01-22 16:15:24,103 INFO sqlalchemy.engine.base.Engine SELECT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines
WHERE cuisines.name = ?
2021-01-22 16:15:24,104 INFO sqlalchemy.engine.base.Engine ('Austrian',)
2021-01-22 16:15:24,106 INFO sqlalchemy.engine.base.Engine DELETE FROM cuisines WHERE cuisines.cuisine_id = ?
2021-01-22 16:15:24,107 INFO sqlalchemy.engine.base.Engine (48,)
2021-01-22 16:15:24,108 INFO sqlalchemy.engine.base.Engine SELECT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines
WHERE cuisines.name = ?
2021-01-22 16:15:24,109 INFO sqlalchemy.engine.base.Engine ('BBQ',)
2021-01-22 16:15:24,110 INFO sqlalchemy.engine.base.Engine SELECT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines
WHERE cuisines.name = ?
2021-01-22 16:15:24,111 INFO sqlalchemy.engine.base.Engine ('Bagels',)
2021-01-22 16:15:24,113 INFO sqlalchemy.engine.base.Engine SELECT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines
WHERE cuisines.name = ?
2021-01-22 16:15:24,114 INFO sqlalchemy.engine.base.Engine ('Bakery',)
2021-01-22 16:15:24,116 INFO sqlalchemy.engine.base.Engine SELECT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines
WHERE cuisines.name = ?
2021-01-22 16:15:24,117 INFO sqlalchemy.engine.base.Engine ('Bar Food',)
2021-01-22 16:15:24,118 INFO sqlalchemy.engine.base.Engine SELECT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines
WHERE cuisines.name = ?
2021-01-22 16:15:24,119 INFO sqlalchemy.engine.base.Engine ('Belgian',)
2021-01-22 16:15:24,122 INFO sqlalchemy.engine.base.Engine DELETE FROM cuisines WHERE cuisines.cuisine_id = ?
2021-01-22 16:15:24,125 INFO sqlalchemy.engine.base.Engine (53,)
2021-01-22 16:15:24,129 INFO sqlalchemy.engine.base.Engine SELECT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines
WHERE cuisines.name = ?
2021-01-22 16:15:24,131 INFO sqlalchemy.engine.base.Engine ('Beverages',)
2021-01-22 16:15:24,133 INFO sqlalchemy.engine.base.Engine SELECT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines
WHERE cuisines.name = ?
2021-01-22 16:15:24,134 INFO sqlalchemy.engine.base.Engine ('Brazilian',)
2021-01-22 16:15:24,135 INFO sqlalchemy.engine.base.Engine SELECT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines
WHERE cuisines.name = ?

2021-01-22 16:15:24,137 INFO sqlalchemy.engine.base.Engine ('Breakfast',)
2021-01-22 16:15:24,139 INFO sqlalchemy.engine.base.Engine SELECT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines
WHERE cuisines.name = ?
2021-01-22 16:15:24,140 INFO sqlalchemy.engine.base.Engine ('British',)
2021-01-22 16:15:24,142 INFO sqlalchemy.engine.base.Engine SELECT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines
WHERE cuisines.name = ?
2021-01-22 16:15:24,143 INFO sqlalchemy.engine.base.Engine ('Bubble Tea',)
2021-01-22 16:15:24,145 INFO sqlalchemy.engine.base.Engine SELECT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines
WHERE cuisines.name = ?
2021-01-22 16:15:24,147 INFO sqlalchemy.engine.base.Engine ('Afghan',)
2021-01-22 16:15:24,150 INFO sqlalchemy.engine.base.Engine SELECT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines
WHERE cuisines.name = ?
2021-01-22 16:15:24,152 INFO sqlalchemy.engine.base.Engine ('African',)
2021-01-22 16:15:24,154 INFO sqlalchemy.engine.base.Engine SELECT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines
WHERE cuisines.name = ?
2021-01-22 16:15:24,155 INFO sqlalchemy.engine.base.Engine ('American',)
2021-01-22 16:15:24,157 INFO sqlalchemy.engine.base.Engine SELECT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines
WHERE cuisines.name = ?
2021-01-22 16:15:24,158 INFO sqlalchemy.engine.base.Engine ('Argentine',)
2021-01-22 16:15:24,162 INFO sqlalchemy.engine.base.Engine SELECT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines
WHERE cuisines.name = ?
2021-01-22 16:15:24,164 INFO sqlalchemy.engine.base.Engine ('Armenian',)
2021-01-22 16:15:24,166 INFO sqlalchemy.engine.base.Engine SELECT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines
WHERE cuisines.name = ?
2021-01-22 16:15:24,167 INFO sqlalchemy.engine.base.Engine ('Asian',)
2021-01-22 16:15:24,169 INFO sqlalchemy.engine.base.Engine SELECT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines
WHERE cuisines.name = ?
2021-01-22 16:15:24,171 INFO sqlalchemy.engine.base.Engine ('Australian',)
2021-01-22 16:15:24,173 INFO sqlalchemy.engine.base.Engine SELECT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines
WHERE cuisines.name = ?
2021-01-22 16:15:24,175 INFO sqlalchemy.engine.base.Engine ('Austrian',)
2021-01-22 16:15:24,177 INFO sqlalchemy.engine.base.Engine SELECT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines
WHERE cuisines.name = ?
2021-01-22 16:15:24,179 INFO sqlalchemy.engine.base.Engine ('BBQ',)
2021-01-22 16:15:24,180 INFO sqlalchemy.engine.base.Engine SELECT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines
WHERE cuisines.name = ?
2021-01-22 16:15:24,182 INFO sqlalchemy.engine.base.Engine ('Bagels',)
2021-01-22 16:15:24,184 INFO sqlalchemy.engine.base.Engine SELECT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines
WHERE cuisines.name = ?
2021-01-22 16:15:24,185 INFO sqlalchemy.engine.base.Engine ('Bakery',)
2021-01-22 16:15:24,187 INFO sqlalchemy.engine.base.Engine SELECT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines
WHERE cuisines.name = ?
2021-01-22 16:15:24,189 INFO sqlalchemy.engine.base.Engine ('Bar Food',)
2021-01-22 16:15:24,191 INFO sqlalchemy.engine.base.Engine SELECT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines
WHERE cuisines.name = ?
2021-01-22 16:15:24,193 INFO sqlalchemy.engine.base.Engine ('Belgian',)
2021-01-22 16:15:24,199 INFO sqlalchemy.engine.base.Engine SELECT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines
WHERE cuisines.name = ?
2021-01-22 16:15:24,201 INFO sqlalchemy.engine.base.Engine ('Beverages',)
2021-01-22 16:15:24,203 INFO sqlalchemy.engine.base.Engine SELECT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines
WHERE cuisines.name = ?
2021-01-22 16:15:24,204 INFO sqlalchemy.engine.base.Engine ('Brazilian',)
2021-01-22 16:15:24,208 INFO sqlalchemy.engine.base.Engine SELECT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines
WHERE cuisines.name = ?
2021-01-22 16:15:24,209 INFO sqlalchemy.engine.base.Engine ('Breakfast',)
2021-01-22 16:15:24,211 INFO sqlalchemy.engine.base.Engine SELECT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines
WHERE cuisines.name = ?
2021-01-22 16:15:24,213 INFO sqlalchemy.engine.base.Engine ('British',)
2021-01-22 16:15:24,216 INFO sqlalchemy.engine.base.Engine SELECT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines
WHERE cuisines.name = ?
2021-01-22 16:15:24,219 INFO sqlalchemy.engine.base.Engine ('Bubble Tea',)
2021-01-22 16:15:24,222 INFO sqlalchemy.engine.base.Engine SELECT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines
WHERE cuisines.name = ?
2021-01-22 16:15:24,223 INFO sqlalchemy.engine.base.Engine ('Burger',)
2021-01-22 16:15:24,226 INFO sqlalchemy.engine.base.Engine SELECT cuisines.cuisine_id AS cuisines_cuisine_id, cuisines.zomato_id AS cuisines_zomato_id, cuisines.name AS cuisines_name, cuisines.date_created AS cuisines_date_created
FROM cuisines
WHERE cuisines.name = ?
2021-01-22 16:15:24,227 INFO sqlalchemy.engine.base.Engine ('Cafe',)

Let's find which ones start with "A"

In [1]:
list(session.query(Cuisine).filter(Cuisine.name.in_(['Asian', 'Italian'])))

NameError: name 'session' is not defined

Get the records for Asian, Chinese, and Italian

## Mini-Lab 1: Recommendations & Reviews
Let's build a recommendation engine for users.

### Step 1: Pull in restaurants from Zomato
For Boston and New York.

### Step 2: Table Creation
There are three new tables we need to create

- Restaurant (with the relevant fields)
- User (with username and user_id)
- UserCuisine (to store user's cuisine preferences)
- Recommendations (which links to restaurant and user)

### Step 3: Create_User
Create a helper function that creates a user and also adds UserCuisine preferences

```python
>>> create_user(username='alberto', preferences['Italian', 'Chinese'], city='Boston')
```

### Step 4: Simple matchmaking algo
Pick 5 random restaurants that match their preferences and save to the database.

### (Optional) Step 5: Don't repeat the last 3 recommendations
Need to query the DB in the algo.

### Step 6: Intro to Mongo and reviews